<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Covid Scan Web</title>
    <meta name="description" content="Covid Scan Web">
    <meta name="author" content="Covid Scan Web">

    <!-- open graph -->
    <meta property="og:title" content="Covid Scan Web">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://covid-scan.link/">
    <meta property="og:description" content="Scan CST and DGC QR codes without any application">
    <meta property="og:image" content="https://be.covid-scan.link/public/img/favicon-152x152.png">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="CST Scan (Un)offical App"/>
    <meta name="twitter:description" content="Scan CST and DGC QR codes without any application"/>
    <meta name="twitter:image:src" content="https://be.covid-scan.link/public/img/favicon-152x152.png"/>

    <script src="/bundle.js"></script>
    <%= require('html-loader!./header.html').default %>
    <script src="/public/js/html5-qrcode.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        var html5QrCode = null;
        var cameraId = null;

        function data() {
            return {
                "locked": true,
                "found": false,
                "pass": {
                    "type": "",
                    "v": [{
                        "co": "BE",
                        "dt": "2021-07-21",
                        "dn": 1,
                        "sd": 1,
                        "daysAgo": 43,
                        "name": "Comirnaty"
                    }],
                    "t": [{"daysAgo": 43}],
                    "r": [{"daysAgo": 43}],
                    "f": [{"daysAgo": 0, "m": "Hello World"}],
                    "dob": "1975-01-01",
                    "dob_str": "January 1st 1975",
                    "age": 45,
                    "nam": {
                        "fn": "Denver",
                        "gn": "John",
                        "fnt": "DENVER",
                        "gnt": "JOHN"
                    }
                },
                "showModal": true,
                "cameraId": "",
                "init": function () {
                    // This method will trigger user permissions
                    Html5Qrcode.getCameras().then(devices => {
                        //console.log(devices);
                        if (devices && devices.length) {
                            {
                                this.cameraId = devices[devices.length - 1].id;
                                this.startScanning();
                            }
                        }
                    }).catch(err => {
                        console.log(err);
                    });

                },
                "reset": function () {
                    this.found = false;
                    this.pass = {};
                },
                "startScanning": function () {
                    //console.log('scanning started with ' + this.cameraId)
                    // Create instance of the object. The only argument is the "id" of HTML element created above.
                    html5QrCode = new Html5Qrcode("videoContainer", {formatsToSupport: [Html5QrcodeSupportedFormats.QR_CODE]});

                    html5QrCode.start(this.cameraId,
                        {
                            fps: 10,
                            //qrbox: (window.screen.width * window.devicePixelRatio * 0.75) | 0,
                            rememberLastUsedCamera: true,
                            aspectRatio: getAspectRatio()
                        },
                        decodedText => {
                            try {
                                //console.log(`QR Code detected: ${decodedText}`);
                                this.found = true;
                                const result = dgc.decodeDGC(decodedText);
                                if (result.valid) {
                                    this.pass = result.json;
                                }
                                setTimeout(function () {
                                    this.reset();
                                }.bind(this), 3000);
                            } catch (e) {
                                console.log(e);
                            }
                        },
                        errorMessage => {
                            // parse error, ideally ignore it. For example:
                            //console.log(`QR Code no longer in front of camera.`);
                            //this.found = false;
                        })
                        .catch(err => {
                            // Start failed, handle it. For example,
                            console.log(`Unable to start scanning, error: ${err}`);
                        });

                }
            }
        }

        function getAspectRatio() {
            const realWidth = window.screen.width * window.devicePixelRatio;
            const realHeight = window.screen.height * window.devicePixelRatio;
            const aspectRatio = realHeight / realWidth;
            return aspectRatio;
        }
    </script>
</head>

<body x-data="data" id="body" class="flex flex-col">
<header class="sticky top-0 z-50 flex flex-col bg-white p-2 font-medium">
    <div class="flex flex-row">
        <div class="flex-1 text-center text-lg" x-show="found" x-cloak>
            <p class="text-center text-lg font-bold"><span x-text="pass.nam.gn"></span> <span
                x-text="pass.nam.fn"></span> <span x-text="pass.type"></span></p>
        </div>
        <div class="flex-1 text-center text-lg" x-show="!found" x-cloak>
            <p class="text-center text-lg font-bold">Scan a QR code</p>
        </div>
    </div>
    <div x-show="pass.type == 'v'" class="bg-green-200" x-cloak>
        <p class="text-center text-base"><span x-text="pass.age"></span> y. / Vax <span x-text="pass.v[0].name"></span><br/><span x-text="pass.v[0].daysAgo"></span> days ago</p>
    </div>
    <div x-show="pass.type == 'r'" class="bg-blue-200" x-cloak>
        <p class="text-center text-base"><span x-text="pass.age"></span> y. / Recovered <span x-text="pass.r[0].daysAgo"></span> days ago</p>
    </div>
    <div x-show="pass.type == 't'" class="bg-pink-200" x-cloak>
        <p class="text-center text-base"><span x-text="pass.age"></span> y. / Tested <span x-text="pass.t[0].daysAgo"></span> days ago</p>
    </div>
    <div x-show="pass.type == 'f'" class="bg-yellow-200" x-cloak>
        <p class="text-center text-base">Valid <span x-text="pass.f[0].t"></span> for <span x-text="pass.f[0].p"></span> created <span x-text="pass.f[0].daysAgo"></span> days ago</p>
        <div class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full" id="f-message" x-show="found && pass.type == 'f' && pass.f[0].m">
            <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
                <div class="mt-3 text-center">
                    <h3 class="text-lg leading-6 font-medium text-gray-900">You have a message!</h3>
                    <div class="mt-2 px-7 py-3">
                        <p class="text-sm text-gray-500" x-text="pass.f[0].m"></p>
                    </div>
                    <div class="items-center px-4 py-3">
                        <button x-on:click="reset()" id="f-message-ok" class="px-4 py-2 bg-green-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-300">
                            OK
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="photo flex-1 overflow-y-auto bg-black" id="videoContainer"></main>
<%= require('html-loader!./footer.html').default %>
</body>
</html>




